{
  "parserOptions" : {
    "ecmaVersion" : 2017,
    "sourceType" : "module",
    "ecmaFeatures": {
      "impliedStrict" : true,
      "experimentalObjectRestSpread" : true,
      "jsx": true
    }
  },
  "env": {
    "browser": true,
    "node": true,
    "mocha": true,
    "jquery": true
  },
  "globals": {
    "config": true,
    "DEV": true,
    "VERSION": true
  },
  "plugins": [
    "html"
  ],
  "extends": "eslint:recommended",
  "rules" : {
    "no-console": "warn",
    "no-debugger": "warn",
    "indent": ["error", 2],
    "semi" : ["error", "never"]
  }
}
