//light theme
@color_light_bg : white;
@color_light_text : #333;
@color_light_buy : green;
@color_light_sell : red;
@color_light_tonic : #4481f0;

//dark theme
@color_dark_bg : #1B1C1D;
@color_dark_text : #FFF;
@color_dark_buy : lime;
@color_dark_sell : red;
@color_dark_tonic : #458fd4;
@color_dark_border : #333;
