
/* Global */
@site       : 'speculos';
@reset      : 'speculos';

/* Elements */
@button     : 'speculos';
@container  : 'speculos';
@divider    : 'speculos';
@flag       : 'speculos';
@header     : 'speculos';
@icon       : 'speculos';
@image      : 'speculos';
@input      : 'speculos';
@label      : 'speculos';
@list       : 'speculos';
@loader     : 'speculos';
@rail       : 'speculos';
@reveal     : 'speculos';
@segment    : 'speculos';
@step       : 'speculos';

/* Collections */
@breadcrumb : 'speculos';
@form       : 'speculos';
@grid       : 'speculos';
@menu       : 'speculos';
@message    : 'speculos';
@table      : 'speculos';

/* Modules */
@accordion  : 'speculos';
@checkbox   : 'speculos';
@dimmer     : 'speculos';
@dropdown   : 'speculos';
@embed      : 'speculos';
@modal      : 'speculos';
@nag        : 'speculos';
@popup      : 'speculos';
@progress   : 'speculos';
@rating     : 'speculos';
@search     : 'speculos';
@shape      : 'speculos';
@sidebar    : 'speculos';
@sticky     : 'speculos';
@tab        : 'speculos';
@transition : 'speculos';

/* Views */
@ad         : 'speculos';
@card       : 'speculos';
@comment    : 'speculos';
@feed       : 'speculos';
@item       : 'speculos';
@statistic  : 'speculos';

/*******************************
            Folders
*******************************/

/* Path to theme packages */
@themesFolder : 'themes';

/* Path to site override folder */
@siteFolder  : 'site';


/*******************************
         Import Theme
*******************************/

@import "theme.less";

/* End Config */
